[data-layout-mode=dark] {
  --ra-input-bg: #262a2f;
  --ra-heading-color: #ced4da;
  --ra-mode-symbol: "\e518";

  --bs-gray-100: #1a1d21;
  --bs-gray-200: #212529;
  --bs-gray-300: #2a2f34;
  --bs-gray-400: #878a99;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #bfc8e2;
  --bs-gray-700: #ced4da;
  --bs-gray-800: #eff2f7;
  --bs-gray-900: #f3f6f9;
  --bs-primary-rgb: 64, 81, 137;
  --bs-primary: rgba(var(--bs-primary-rgb), 1);
  --bs-success-rgb: 10, 197, 156;
  --bs-success: rgba(var(--bs-success-rgb), 1);
  --bs-danger-rgb: 240, 101, 72;
  --bs-danger: rgba(var(--bs-danger-rgb), 1);
  --bs-body-color: var(--bs-gray-700);
  --bs-body-bg: var(--bs-gray-100);
  --bs-border-color: var(--bs-gray-300);
  --ra-focus-border-color: var(--bs-gray-200);

  --bs-dropdown-link-hover-color: var(--bs-gray-400);
  --bs-dropdown-link-hover-bg: var(--bs-gray-300);
  --bs-dropdown-link-hover-bg-over: var(--bs-gray-200);
  --bs-dropdown-link-active-bg: var(--bs-primary);

  --bs-secondary-color: #878a99;


  --ra-btn-close-bg: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  --ra-btn-select-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ced4da' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

  .card {
    --bs-card-border-color: var(--bs-border-color);
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-cap-bg: var(--bs-body-bg);
    --bs-card-color: var(--bs-body-color);
  }

  .card-border-primary {
    --bs-card-border-color: #405189;
    --bs-border-color: #405189;
  }

  .btn {
    --ra-ghost-button-hover-color: 91, 113, 185;
    --bs-btn-color: #FFFFFF;
  }

  .btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0ab39c;
    --bs-btn-border-color: #0ab39c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #099885;
    --bs-btn-hover-border-color: #088f7d;
    --bs-btn-focus-shadow-rgb: 47, 190, 171;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #088f7d;
    --bs-btn-active-border-color: #088675;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0ab39c;
    --bs-btn-disabled-border-color: #0ab39c;
  }

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #405189;
    --bs-btn-border-color: #405189;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #364574;
    --bs-btn-hover-border-color: #33416e;
    --bs-btn-focus-shadow-rgb: 93, 107, 155;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #33416e;
    --bs-btn-active-border-color: #303d67;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #405189;
    --bs-btn-disabled-border-color: #405189;
  }

  .btn-outline-primary {
    --bs-btn-color: #405189;
    --bs-btn-border-color: #405189;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #405189;
    --bs-btn-hover-border-color: #405189;
    --bs-btn-focus-shadow-rgb: 64, 81, 137;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #405189;
    --bs-btn-active-border-color: #405189;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #405189;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #405189;
    --bs-gradient: none;
  }

  .btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3577f1;
    --bs-btn-border-color: #3577f1;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2d65cd;
    --bs-btn-hover-border-color: #2a5fc1;
    --bs-btn-focus-shadow-rgb: 83, 139, 243;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2a5fc1;
    --bs-btn-active-border-color: #2859b5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3577f1;
    --bs-btn-disabled-border-color: #3577f1;
  }

  .btn-outline-secondary {
    --bs-btn-color: #3577f1;
    --bs-btn-border-color: #3577f1;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3577f1;
    --bs-btn-hover-border-color: #3577f1;
    --bs-btn-focus-shadow-rgb: 53, 119, 241;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3577f1;
    --bs-btn-active-border-color: #3577f1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #3577f1;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #3577f1;
    --bs-gradient: none;
  }

  .btn-light {
    --bs-btn-color: #eff2f7;
    --bs-btn-bg: #2a2f34;
    --bs-btn-border-color: #2a2f34;
    --bs-btn-hover-color: #eff2f7;
    --bs-btn-hover-bg: rgba(42, 47, 52, 0.75);
    --bs-btn-hover-border-color: rgba(42, 47, 52, 0.75);
    --bs-btn-focus-shadow-rgb: 207, 209, 212;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c2c5c7;
    --bs-btn-active-border-color: #b6b9bb;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f3f6f9;
    --bs-btn-disabled-border-color: #f3f6f9;
  }

  --bs-nav-link-color: #878a99;
  --bs-nav-link-hover-color: #FFFFFF;
  --bs-navbar-active-color: #FFFFFF;
  .navbar-nav {
    --bs-nav-link-color: #878a99;
    --bs-nav-link-hover-color: #FFFFFF;
    --bs-navbar-active-color: #FFFFFF;
  }

  .bg-light {
    --bs-light-rgb: 8 7 6;
  }

  .dropdown-menu {
    --bs-dropdown-bg: #212529;
    --bs-dropdown-border-color: rgb(63, 63, 63);
    --bs-dropdown-link-color: #878a99;
    --bs-dropdown-link-hover-color: var(--bs-gray-400);
    --bs-dropdown-link-hover-bg: var(--bs-gray-300);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: var(--bs-primary);
    --bs-dropdown-link-disabled-color: #adb5bd;
  }

  .modal {
    --bs-modal-bg: #212529;
    --bs-modal-border-color: rgba(255, 255, 255, 0.125);
    --bs-modal-header-border-color: var(--bs-border-color);
  }

  .nav {
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-primary);
  }

  .nav-tabs {
    --bs-nav-tabs-border-color: var(--bs-gray-300);
    --bs-nav-tabs-link-hover-border-color: var(--bs-gray-300) var(--bs-gray-300) var(--bs-gray-300);
    --bs-nav-tabs-link-active-border-color: var(--bs-gray-300) var(--bs-gray-300) var(--bs-body-bg);
  }

  .alert-danger {
    --bs-alert-color: #f5c2c7;
    --bs-alert-bg: #842029;
    --bs-alert-border-color: #92242e;
  }

  .ngx-charts {
    text {
      fill: var(--bs-body-color);
    }
  }

  .pagination {
    --bs-pagination-active-color: var(--bs-body-color);
    --bs-pagination-active-bg: var(--bs-primary);
    --bs-pagination-active-border-color: var(--bs-primary);
    --bs-pagination-color: var(--bs-primary);
    --bs-pagination-hover-color: var(--bs-body-color);
    --bs-pagination-bg: var(--bs-gray-300);
    --bs-pagination-border-color: var(--bs-gray-200);
    --bs-pagination-hover-bg: var(--bs-gray-200);
    --bs-pagination-hover-border-color: var(--bs-gray-300);
    --bs-pagination-disabled-color: var(--bs-gray-500);
    --bs-pagination-disabled-bg: var(--bs-gray-300);
    --bs-pagination-disabled-border-color: var(--bs-gray-300);
  }

  .table {
    --bs-table-border-color: var(--bs-gray-300);
    --bs-table-striped-bg: var(--bs-gray-200);
    --bs-table-color: var(--bs-gray-700);
    --bs-table-striped-color: var(--bs-gray-700);
  }

  .chart-legend .legend-label .active .legend-label-text {
    color: var(--bs-gray-500) !important;
  }

  .tooltip-inner {
    color: var(--bs-body-color) !important;
  }

  .tooltip-arrow::before {
    color: var(--bs-body-color) !important;
  }
}
